$fontFamily: 'Kanit', sans-serif;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$medium-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
$radius: 0.25rem;
$transition: all 0.55s ease-in-out;
$fontSize: 2rem;
$fontWeight: 700;
$logoColor: #eb3b5a;
$spacing: 0.2rem;
$yellowColor: #e3f461;
$yellowColor2: #fffb00;
$redColor: #f23f3f